PORT=5000
MONGODB_URI=mongodb://Shihar:shihar123@ac-auw9pbt-shard-00-00.g9prwu8.mongodb.net:27017,ac-auw9pbt-shard-00-01.g9prwu8.mongodb.net:27017,ac-auw9pbt-shard-00-02.g9prwu8.mongodb.net:27017/CleanRoute?ssl=true&replicaSet=atlas-zllfzf-shard-0&authSource=admin&appName=Cluster0
NODE_ENV=development
